// color vars
$primary-text-color: #0F303F; 
$title-text-color: #254A5A;
$accent-color: #E64926;
$hero-color: #CEC6C4;


$primary-bg-color: #F5F5F5;
$secondary-bg-color: #F5F4FA;
$white-color: #FFFFFF;
$black-color: #000000;
$hero-bg-color: #2F303A;
$address-color:  rgba(255, 255, 255, 0.6);
$border-color: #ECECEC;
$cards-color: #EEEEEE;
$social-color: #afb1b8;
$clients-border: #AFB1B8;
$footer-social-bg: rgba(255, 255, 255, 0.1);
$work-overlay: rgba(230, 73, 38, 0.9);
$border-form-color: rgba(255, 255, 255, 0.3);
$hero-button:#188CE8;


// cubic vars
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

@function lineHeight($font-size, $line-height) {
    @return ($line-height / $font-size);
  }
