.nature {
    background-color: $title-text-color;

    &__container {
        @include container();
    }

    &__title {
        @include fontPreset(700, 30px, 35px, 0.05em);
        font-family: Cormorant Garamond;
        color: $nature-text;

        margin-left: auto;
        margin-right: auto;
        text-align: center;

        margin-bottom: 12px;
        
        @media screen and(max-width: 479px) {
            @include fontPreset(700, 27px, 30px, 0.05em);
        }

        @media screen and(min-width: 768px) {
            @include fontPreset(700, 36px, 41px, 0.05em);
        }

        @media screen and(min-width: 1200px) {
            @include fontPreset(700, 39px, 43px, 0.05em);
        }
    }

    &__text {
        @include fontPreset(500, 15px, 19px, 0.05em);
        color: $white-color;

        text-align: center;

        margin-bottom: 35px;

        @media screen and(min-width: 768px) {
            @include fontPreset(500, 19px, 26px, 0.05em);
            max-width: 650px;
            margin: 36px auto;
        }

        @media screen and(min-width: 1200px) {
            @include fontPreset(500, 22px, 29px, 0.05em);
            max-width: 780px;
            margin: 36px auto;
        }
    }

    &__button {
        @include buttonSet(inline-block, 200px, 50px, 10px, 32px, $primary-text-color, $white-color);
        @include fontPreset(700, 16px, 30px, 0.06em);
        @include transitionBack(background-color, color);

        border: none;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

        margin-left: auto;
        margin-right: auto;

        display: flex;
        justify-content: center;

        &:focus, &:hover {
          background-color: $accent-color;
          color: $hero-color;
        }
    }
}