%list {
    margin: 0;
    padding: 0;

    list-style: none;
}

%link {
    text-decoration: none;
}

%button {
    border-radius: 4px;
    border-width: 0;

}



%hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

%title {
    margin-bottom: 50px;

    color: $title-text-color;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

// logo
%logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

// social team amd footer utilities
%social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $social-color;
}

%social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
